* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: rgb(24, 89, 255);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;

}

.Titulo{
    color: white;
}

/*Estilos Desktop LG*/

@media screen and (max-width: 1024px){

    .container {
        background-color: orange;
        
    }

    .Titulo{
        color: rgb(191, 80, 28);
    }
    
}

/*Estilos Desktop Tablet*/

@media screen and (max-width: 768px){

    .container {
        background-color: blueviolet;
        
    }

    .Titulo{
        color: rgb(84, 34, 131);
    }
    
}

/*Estilos Desktop mobile*/

@media screen and (max-width: 480px){

    .container {
        background-color: yellowgreen;
        
    }

    .Titulo{
        color: rgb(84, 111, 30);
    }
    
}

